<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">Disclaimer</div>
  </div>  
</div>
<div class="modal-body">
  <p>
      For using the application, you have to understand and accept the conditions.
  </p>
  <p>
    Don't use the wallet hosted at this URL to sign transactions.
    Use this hosted application only to check the status of your wallet.
    Use a locally installed version for signing.
    A version can be obtained <a href="https://github.com/rsksmart/MultiSigWallet" target="_blank">here</a>.
  </p>
  <p>
    This is a customized version for a better user experience in RSK network 
    and <strong>is not supported by Gnosis team</strong>.
  </p>
  <p>
    Use at your own risk.
  </p>
  <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="useCustomized">
        I understand this customization is an example for developers
      </label>
  </div>
  <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="gnosisSupport">
        I understand Gnosis doesn't support this customization
      </label>
  </div>
  

</div>
<div class="modal-footer">
  <button type="button" ng-click="ok()" class="btn btn-default" id="terms-button" ng-disabled="!useCustomized || !gnosisSupport">
    Continue
  </button>
</div>
